
@{
    ViewBag.Title = "_HeaderAdmin";
}

<div class="container">
    <div class="row align-items-center position-relative">

        <div class="col-3">
            <div class="site-logo">
                <a href="@Url.Action("Index","Admin")"><strong>CarRental Admin</strong></a>
            </div>
        </div>

        <div class="col-9  text-right">

            <span class="d-inline-block d-lg-none"><a href="#" class=" site-menu-toggle js-menu-toggle py-5 "><span class="icon-menu h3 text-black"></span></a></span>

            <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                    <li class="active"><a href="@Url.Action("Index","Admin")" class="nav-link">Home</a></li>
                    <li><a href="@Url.Action("Index","Admin")" class="nav-link">Cars Section</a></li>
                    <li><a href="@Url.Action("Index","Admin")" class="nav-link">Users Section</a></li>
                    <li><a href="@Url.Action("Logout","Login")" class="nav-link">Log out</a></li>
                </ul>
            </nav>
        </div>


    </div>
</div>

