@model IEnumerable<TWProject.Domain.Entities.Car.CarDBTable>

@{
    ViewBag.Title = "Admin Panel";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}


    <style>
   * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --background-color1: #fafaff;
  --background-color2: #ffffff;
  --background-color3: #ededed;
  --background-color4: #cad7fda4;
  --primary-color: #4b49ac;
  --secondary-color: #0c007d;
  --Border-color: #3f0097;
  --one-use-color: #3f0097;
  --two-use-color: #5500cb;
}
body {
  background-color: var(--background-color4);
  max-width: 100%;
  overflow-x: hidden;
}

header {
  height: 70px;
  width: 100vw;
  padding: 0 30px;
  background-color: var(--background-color1);
  position: fixed;
  z-index: 100;
  box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 27px;
  font-weight: 600;
  color: rgb(47, 141, 70);
}



.main {
  height: calc(100vh - 70px);
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 40px 30px 30px 30px;
}



.topic-heading {
  font-size: 30px;
  letter-spacing: 3px;
}

.report-container {
  min-height: 300px;
  max-width: 1200px;
  margin: 70px auto 0px auto;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 3px 3px 10px rgb(188, 188, 188);
  padding: 0px 20px 20px 20px;
}
.report-header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 10px 20px;
  border-bottom: 2px solid rgba(0, 20, 151, 0.59);
}

.recent-Articles {
  font-size: 30px;
  font-weight: 600;
  color: #5500cb;
}

.view {
  height: 35px;
  width: 90px;
  border-radius: 8px;
  background-color: #5500cb;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.report-body {
  max-width: 1160px;
  overflow-x: auto;
  padding: 20px;
}



    </style>




    <div class="main">


       


        <div class="report-container">
            <div class="report-header">
                <h1 class="recent-Articles">Cars List</h1>
                <a href="@Url.Action("Create", "Admin")">
                    <button class="view">Add new Car</button>
                </a>
            </div>
            <div class="report-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Mark)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Model)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ProductionYear)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BodyType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SeatsNum)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Color)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Odometer)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EnginePower)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EngineCapacity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PricePerDay)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GearboxType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FuelType)
                            </th><th>
                                @Html.DisplayNameFor(model => model.IsAvailable)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mark)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Model)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductionYear)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BodyType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SeatsNum)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Color)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Odometer)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EnginePower)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EngineCapacity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PricePerDay)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GearboxType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FuelType)
                                </td><td>
                                    @Html.DisplayFor(modelItem => item.IsAvailable)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.CarId })
                                    @Html.ActionLink("Details", "Details", new { id = item.CarId })
                                    @Html.ActionLink("Delete", "Delete", new { id = item.CarId })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>






            </div>
        </div>
    </div>








